@charset "UTF 8" ;

#corpo{
    background-image: url(979671-simple-background-black-background-minimalism-theater.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    background-position: center center;
    background-size: cover;
}

header{
    color: aliceblue;
    text-align: center;
    padding: 4px 10px 10px 10px;
    margin: -8px -8px 1px -10px;
    background-image: linear-gradient(to top, #0D0D0D, #400101, #730202  );
    font-size: large;
   
}


main{
   margin: auto;
   border-radius: 0px 0px 7px 7px;
   color: azure;
   padding: 0.5px 10px 10px 7px;
   border: 5px;
   min-width: 200px;
   max-width: 700px;
   min-height: 00px;
   max-height: 770px;
   background-color: rgba(56, 53, 53, 0.74);
}


div#video > iframe{
    position: absolute;
    padding: 5px;
    width: 74%;
    height: 300px;
    margin: auto;
    left: 12%;
    top: 0%;
}

div#video{
    background-color: rgba(27, 26, 26, 0.74);
    padding-bottom: 56.25%;
    margin: 6px -9px -4px -7px;
    padding: 155px;
    position: relative;
    
}

#acoes{
    text-align: left;
}

footer{
    background-color: rgb(88, 87, 87);
    margin: 26px -10px -22px -18px;
    padding: 1px 0px 1px 0px;
    text-align: center;
    color: rgb(247, 247, 247);
}

h2{
    text-align: center;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: rgb(89, 5, 89);
}

.simple-icons--whatsapp {
    display: inline-block;
    width: 1em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M17.472 14.382c-.297-.149-1.758-.867-2.03-.967c-.273-.099-.471-.148-.67.15c-.197.297-.767.966-.94 1.164c-.173.199-.347.223-.644.075c-.297-.15-1.255-.463-2.39-1.475c-.883-.788-1.48-1.761-1.653-2.059c-.173-.297-.018-.458.13-.606c.134-.133.298-.347.446-.52s.198-.298.298-.497c.099-.198.05-.371-.025-.52s-.669-1.612-.916-2.207c-.242-.579-.487-.5-.669-.51a13 13 0 0 0-.57-.01c-.198 0-.52.074-.792.372c-.272.297-1.04 1.016-1.04 2.479c0 1.462 1.065 2.875 1.213 3.074s2.096 3.2 5.077 4.487c.709.306 1.262.489 1.694.625c.712.227 1.36.195 1.871.118c.571-.085 1.758-.719 2.006-1.413s.248-1.289.173-1.413c-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 0 1-5.031-1.378l-.361-.214l-3.741.982l.998-3.648l-.235-.374a9.86 9.86 0 0 1-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884c2.64 0 5.122 1.03 6.988 2.898a9.82 9.82 0 0 1 2.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.82 11.82 0 0 0 12.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.9 11.9 0 0 0 5.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.82 11.82 0 0 0-3.48-8.413'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }